h3{
    margin-left: 40%;
}
.form-group{
    width: 20%;
    margin-left: 4%;
}
.form-control{
    width: 34%;
}
.form-outline{
    margin-left: 39%;
}

button{
    margin-left: 45%;
    width: 5%;
}
#signUpHeader{
    margin-left: 45%;
}