#loginHeader{
    margin-left: 46%;
}
.form-group{
    width: 20%;
    margin-left: 4%;
}
.form-control{
    width: 20%;
}
button{
    margin-left: 30%;
    width: 5%;
}
#btnsubmitLogin{
    margin-top: 3%;
    width: 9%;
}
#btnsubmitSignUp{
    margin-top: 3%;
    width: 9%;
}
.errorMessage{
    color: red;
    /* margin-top: 1%; */
    margin-right: 29.4%;
}
#loginBody{
    margin-top: 10%;
}
.form-outline{
    margin-top: 4%;
}