.taskHeader{
    margin-left: 17.3%;
    margin-bottom: 2.5%;
} 
.taskHeader h3{
    font-weight: 200;
}
#task_name{
    margin-top: 2%;
    width: 90%;
    margin-left: 4%;
}
#category{
    width: 90%;
    margin-left: 4%;
}
.createTaskHeader{
    text-align: center;
    margin-right: 30%;
}
.createTaskHeader h3{
    font-weight: 200;
    color: black;
}
.backtoLoginButton{
    margin-left: 50%;
    width: 70%;
}
.add-task{
    text-align: center;
    position:relative;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card-style{
    text-align: left;
    font-style: arial;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 43%;
    width: 20%;
}
.card-style :hover{
    border: 1px solid #888;
    background-color: #ddd;
}
.close-icon{
    margin-left: 95%;
}
.close-icon :hover{
    border: 1px solid #888;
    background-color: black
}
#taskDisplay{
    margin-top: 2%;
    margin-left: 1%;
}
.form-select{
    margin-top: 5%;
}

#date{
    margin-top: 5%;
    width: 90%;
}
.fa-close{
    margin-left: 90%;
}

#btnsubmit{
    width: 8%;
    margin-right: 44%;
    margin-top: 1.5%;
}

 p{
    margin-left: 60%
 }
 .error{
    margin-left: 5%;
 }
 .fa-close{
    color: #282727;
 }
 .loginButton{
    width: 40%;
    margin-left: 70%;
    margin-bottom: 20%;
 }
 .addTaskButton{
    margin-right: 30%;
    margin-top: 5%;
 }
 .btn-lg{
    margin-left: 80%;
    color: green;
 }

 #addTaskButton{
    width: 3%;
    text-align: center;
    margin-left: 50%;
 } 
  #popup h1 {
    text-align: center;
  }
  
  #popup p {
    margin: 0 auto;
    width: 50%;
  }
  
  #popup button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #addTaskPopUp{
    margin-top: 1%;
    margin-left: 52%;
    width: 2.5%;
    height: 2.5%;
    border-radius: 50%;
  } 

.taskBody{
    margin-right: 4%;
}
#taskClose{
    margin-left: 97%;
}
#taskName{
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}
#popup{
    margin-top: 8%;
    border: 1px solid #9d9898;    
    background-color: rgb(249, 249, 249);
    width: 22%;
    height: 45%;
    margin-left: 40%;
    position: fixed;
    z-index: 100;
}
#btnsubmitTask{
    margin-top: 88%;
    margin-right: 5%;
    width: 84%;
}
.container{
    margin-top: 2.6%;
}
